/* This is CSS for the FCC calculator */
.button {
  position: relative;
  display: inline-block;
  padding: 10px;
  margin: 10px;
  border: solid black 1px;
  width: 4ch;
}

.button:hover {
  color: white;
  background-color: black;
}

.tooltip {
  visibility: hidden;
  background-color: red;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
}

.button:hover .tooltip {
    visibility: visible;
}

.active,
.button:active {
  color: white;
  background-color: grey;
}

.screen {
  border: solid black 1px;
  height: 3em;
  width: 300px;
  margin: 10px;
}

td {
  margin: 0;
  padding: 0;
}
